<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>listQuestion</servlet-name>
    <servlet-class>controller.question.listQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listQuestion</servlet-name>
    <url-pattern>/listQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addQuestion</servlet-name>
    <servlet-class>controller.question.addQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addQuestion</servlet-name>
    <url-pattern>/addQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateQuestion</servlet-name>
    <servlet-class>controller.question.editQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateQuestion</servlet-name>
    <url-pattern>/updateQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getQandA</servlet-name>
    <servlet-class>controller.question.getQuestAndAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getQandA</servlet-name>
    <url-pattern>/ELearning/videoplayer/getQandA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateStatusQuestion</servlet-name>
    <servlet-class>controller.question.statusQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStatusQuestion</servlet-name>
    <url-pattern>/updateStatusQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addAnswerByQuestion</servlet-name>
    <servlet-class>controller.answer.addAnswerByQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAnswerByQuestion</servlet-name>
    <url-pattern>/addAnswerByQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listAnswerByQuestion</servlet-name>
    <servlet-class>controller.answer.listAnswerByQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAnswerByQuestion</servlet-name>
    <url-pattern>/listAnswerByQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listAnswer</servlet-name>
    <servlet-class>controller.answer.listAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAnswer</servlet-name>
    <url-pattern>/listAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addAnswer</servlet-name>
    <servlet-class>controller.answer.addAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAnswer</servlet-name>
    <url-pattern>/addAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateAnswer</servlet-name>
    <servlet-class>controller.answer.editAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAnswer</servlet-name>
    <url-pattern>/updateAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateStatusAnswer</servlet-name>
    <servlet-class>controller.answer.statusAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStatusAnswer</servlet-name>
    <url-pattern>/updateStatusAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>questionComponnent</servlet-name>
    <servlet-class>controller.question.questionComponnent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>questionComponnent</servlet-name>
    <url-pattern>/questionComponnent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listCategory</servlet-name>
    <servlet-class>controller.category.listCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listCategory</servlet-name>
    <url-pattern>/Admin/listCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCategory</servlet-name>
    <servlet-class>controller.category.addCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCategory</servlet-name>
    <url-pattern>/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateCategory</servlet-name>
    <servlet-class>controller.category.editCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCategory</servlet-name>
    <url-pattern>/updateCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateStatus</servlet-name>
    <url-pattern>/updateStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateStatus</servlet-name>
    <servlet-class>controller.category.statusCategory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listAllCategory</servlet-name>
    <servlet-class>controller.category.ListAllCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAllCategory</servlet-name>
    <url-pattern>/ELearning/Dashboard/listAllCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listDocument</servlet-name>
    <servlet-class>controller.document.listDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listDocument</servlet-name>
    <url-pattern>/listDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listVideo</servlet-name>
    <servlet-class>controller.video.ListVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listVideo</servlet-name>
    <url-pattern>/ELearning/videoplayer/listVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>videoComponnent</servlet-name>
    <servlet-class>controller.video.VideoComponnent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>videoComponnent</servlet-name>
    <url-pattern>/videoComponnent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addVideo</servlet-name>
    <servlet-class>controller.video.AddVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addVideo</servlet-name>
    <url-pattern>/addVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateVideo</servlet-name>
    <servlet-class>controller.video.UpdateVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateVideo</servlet-name>
    <url-pattern>/updateVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateStatusVideo</servlet-name>
    <servlet-class>controller.video.statusVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStatusVideo</servlet-name>
    <url-pattern>/updateStatusVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listPlaylist</servlet-name>
    <servlet-class>controller.playlist.listPlaylist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getRecVideo</servlet-name>
    <servlet-class>controller.video.getRecommentVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getRecVideo</servlet-name>
    <url-pattern>/ELearning/Dashboard/getRecVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getPopVideo</servlet-name>
    <servlet-class>controller.video.getVideoPopular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPopVideo</servlet-name>
    <url-pattern>/ELearning/Dashboard/getPopVideo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listPlaylist</servlet-name>
    <url-pattern>/listPlaylist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addPlaylist</servlet-name>
    <servlet-class>controller.playlist.addPlaylist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPlaylist</servlet-name>
    <url-pattern>/addPlaylist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listdep</servlet-name>
    <servlet-class>controller.department.listdept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listdep</servlet-name>
    <url-pattern>/listdept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adddept</servlet-name>
    <servlet-class>controller.department.adddept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adddept</servlet-name>
    <url-pattern>/adddept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatedept</servlet-name>
    <servlet-class>controller.department.editDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatedept</servlet-name>
    <url-pattern>/updatedept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatestatus</servlet-name>
    <servlet-class>controller.department.status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestatus</servlet-name>
    <url-pattern>/updatestatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>controller.userLogin.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRegister</servlet-name>
    <servlet-class>controller.user.AddUser</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userLogout</servlet-name>
    <servlet-class>controller.userLogin.userLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogout</servlet-name>
    <url-pattern>/Admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRegister</servlet-name>
    <servlet-class>controller.user.AddUser</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userRegister</servlet-name>
    <servlet-class>controller.user.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegister</servlet-name>
    <url-pattern>/ELearning/include/Add</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>permission</filter-name>
  	<filter-class>controller.userLogin.Authentication</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>permission</filter-name>
  	<url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
</web-app>
