<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>addQuest</servlet-name>
    <servlet-class>controller.question.addQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addQuest</servlet-name>
    <url-pattern>/addQuest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateQuest</servlet-name>
    <servlet-class>controller.question.UpdateQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateQuest</servlet-name>
    <url-pattern>/updateQuest</url-pattern>
  </servlet-mapping>

  <!-- Category Block-->
  	<servlet>
  	    <servlet-name>listCategory</servlet-name>
  	    <servlet-class>controller.category.listCategory</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	    <servlet-name>listCategory</servlet-name>
  	    <url-pattern>/listCategory</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	    <servlet-name>addCategory</servlet-name>
  	    <servlet-class>controller.category.addCategory</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	    <servlet-name>addCategory</servlet-name>
  	    <url-pattern>/addCategory</url-pattern>
  	</servlet-mapping>
  <!-- End Category Block -->
  
    <!-- document Block-->
  	<servlet>
  	    <servlet-name>listDocument</servlet-name>
  	    <servlet-class>controller.document.listDocument</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	    <servlet-name>listDocument</servlet-name>
  	    <url-pattern>/listDocument</url-pattern>
  	</servlet-mapping>
  
   <!-- End document Block -->
  
      <!-- video Block-->
  	<servlet>
  	    <servlet-name>listVideo</servlet-name>
  	    <servlet-class>controller.video.ListVideo</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	    <servlet-name>listVideo</servlet-name>
  	    <url-pattern>/listVideo</url-pattern>
  	</servlet-mapping>
  
   <!-- End video Block -->
  <servlet>
    <servlet-name>listdep</servlet-name>
    <servlet-class>controller.department.listdept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listdep</servlet-name>
    <url-pattern>/listdept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adddept</servlet-name>
    <servlet-class>controller.department.adddept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adddept</servlet-name>
    <url-pattern>/adddept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatedept</servlet-name>
    <servlet-class>controller.department.editDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatedept</servlet-name>
    <url-pattern>/updatedept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatestatus</servlet-name>
    <servlet-class>controller.department.status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestatus</servlet-name>
    <url-pattern>/updatestatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>controller.userLogin.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/Elearning/include/login.hrd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRegister</servlet-name>
    <servlet-class>controller.user.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegister</servlet-name>
    <url-pattern>/Elearning/include/Add.hrd</url-pattern>
  </servlet-mapping>
</web-app>