<?xml version="1.0" encoding="UTF-8"?>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
		<welcome-file-list>
			<welcome-file>index.jsp</welcome-file>
		</welcome-file-list>
		<servlet>
			<servlet-name>listQuestion</servlet-name>
			<servlet-class>controller.question.listQuestion</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>listQuestion</servlet-name>
			<url-pattern>/listQuestion</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>addQuestion</servlet-name>
			<servlet-class>controller.question.addQuestion</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>addQuestion</servlet-name>
			<url-pattern>/addQuestion</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>listAllCategory</servlet-name>
			<servlet-class>controller.category.ListAllCategory</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>listAllCategory</servlet-name>
			<url-pattern>/ELearning/Dashboard/listAllCategory</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>listCategory</servlet-name>
			<servlet-class>controller.category.listCategory</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>listCategory</servlet-name>
			<url-pattern>/listCategory</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>addCategory</servlet-name>
			<servlet-class>controller.category.addCategory</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>addCategory</servlet-name>
			<url-pattern>/addCategory</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>updateCategory</servlet-name>
			<servlet-class>controller.category.editCategory</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>updateCategory</servlet-name>
			<url-pattern>/updateCategory</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>updateStatus</servlet-name>
			<servlet-class>controller.category.statusCategory</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>updateStatus</servlet-name>
			<url-pattern>/updateStatus</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>listDocument</servlet-name>
			<servlet-class>controller.document.listDocument</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>listDocument</servlet-name>
			<url-pattern>/listDocument</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>listVideo</servlet-name>
			<servlet-class>controller.video.ListVideo</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>listVideo</servlet-name>
			<url-pattern>/listVideo</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>videoComponnet</servlet-name>
			<servlet-class>controller.video.VideoComponnet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>videoComponnet</servlet-name>
			<url-pattern>/videoComponnet</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>listdep</servlet-name>
			<servlet-class>controller.department.listdept</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>listdep</servlet-name>
			<url-pattern>/listdept</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>adddept</servlet-name>
			<servlet-class>controller.department.adddept</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>adddept</servlet-name>
			<url-pattern>/adddept</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>updatedept</servlet-name>
			<servlet-class>controller.department.editDept</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>updatedept</servlet-name>
			<url-pattern>/updatedept</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>updatestatus</servlet-name>
			<servlet-class>controller.department.status</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>updatestatus</servlet-name>
			<url-pattern>/updatestatus</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>userLogin</servlet-name>
			<servlet-class>controller.userLogin.UserLogin</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>userLogin</servlet-name>
			<url-pattern>/login</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>userRegister</servlet-name>
			<servlet-class>controller.user.AddUser</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>userRegister</servlet-name>
			<url-pattern>/Elearning/include/Add</url-pattern>
		</servlet-mapping>
		
		<filter>
		    <filter-name>permission</filter-name>
		    <filter-class>controller.userLogin.Authentication</filter-class>
		</filter>
		<filter-mapping>
		    <filter-name>permission</filter-name>
		</filter-mapping>
	</web-app>